# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
*.egg-info/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm project files
.idea/

# VS Code settings
.vscode/

# Logs
*.log

# Other files to ignore
*.DS_Store
*.swp